@import url("https://fonts.googleapis.com/css?family=Lato");

.btn_wrapper{
  height: 100vh;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*btn 1 how to add a border animation for button**/
.btn-1{
  color: #00d1b2;
  font-size: 16px;
  border: 1px solid #00d1b2;
  padding: 16px 48px;
  position: relative;

  &::before,
  &::after{
    content: "";
    width: 0;
    height: 1px; // top and bottom hover border
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
    left: 0; //start position
  }

  &::before{
    top: 0;
  }

  &::after{
    bottom: 0;
  }

  span{
    &::before,
    &::after{
      content: "";
      width: 1px; //left and right hover border
      height: 0;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;
      bottom: 0; //start position
    }

    &::before{
      left: 0;
    }

    &::after{
      right: 0;
    }
  }

  &:hover{
    border: none;

    &::before,
    &::after{
      width: 100%;
    }

    &::before{
      transition-delay: 0.1s;
    }

    span{
      &::before,
      &::after{
        height: 100%;
      }

      &::after{
        transition-delay: 0.3s;
      }
    }
  }
}

/**btn2 add shadow when hover the button**/
.btn-2{
  --hue: 190;
  text-transform: uppercase;
  font-size: 16px;
  padding: 1em 3em;
  color: #fff;
  border: 1px solid hsl(var(--hue), 100%, 41%); //hsl(hue, Saturation, lightness)
  position: relative;
  overflow: hidden;
  user-select: none; //prevent when customer double click, browser will choose the text
  white-space: nowrap;

  &::before{
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transform: translateX(-100%);
    background: linear-gradient(120deg, transparent, hsla(var(--hue), 100%, 41%, 0.5), transparent);
    //linear-gradient(direction, start color, middle, stop color)
    transition: 0.6s;
  }

  &:hover{
    box-shadow: 0 0 20px 10px hsla(var(--hue), 100%, 41%, 0.5); //h-shadow v-shadow blur spread color inset;

    &::before{
      transform: translateX(100%);
    }
  }
}